/* 
 * AUTEUR: Fabien Meunier
 * PROJECT: Third_Type_Tapes
 * PATH: Third_Type_Tapes/css/gestionCassettes/
 * NAME: index.css
 */

/**************************************************************************************************************************************************************************/
/*------------------------------------------------------------------------------BACK--------------------------------------------------------------------------------------*/
/**************************************************************************************************************************************************************************/

/*------------------------------------------------------------------------------gestionCassettes--------------------------------------------------------------------------*/
.downloadFile{
    width: 280px;
    vertical-align: top;
    margin-right: 5px;
}
